.navigationLink {
    text-decoration: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: black;
    margin: 1rem;
    height: 100%;
    transition: all .1s ease-in-out;
}

.navigationLink:hover {
    border-bottom: 5px solid #2AA7FF;
    color: #2AA7FF;
}

.doctorsActive {
    border-bottom: 5px solid #2AA7FF;
    color: #2AA7FF;
}

.heroContainer {
    position: relative;
    background: rgb(231,240,255);
background: linear-gradient(98deg, rgba(231,240,255,1) 0%, rgba(232,241,255,0.47102591036414565) 100%);
height: 832px;
width: 100%;
}

.specialization {
    
    height: 729px;
    width: 100%;
    background: rgb(231,240,255);
background: linear-gradient(98deg, rgba(231,240,255,1) 0%, rgba(232,241,255,0.47102591036414565) 100%);
}

.doctoreBg {
    background: rgb(225,243,255);
background: linear-gradient(98deg, rgba(225,243,255,1) 0%, rgba(42,167,255,1) 100%);
display: flex;
justify-content: center;
align-items: flex-end;
border-top-left-radius: 50%;
border-top-right-radius: 50%;
height: 410px;
width: 370px;
border: 8px solid white;
box-shadow: 1px 10px 1rem #e0e2e7;
}

.patientCaring {
    height: 598px;
    width: 100%;
    background: rgb(231,240,255);
background: linear-gradient(98deg, rgba(231,240,255,1) 0%, rgba(232,241,255,0.47102591036414565) 100%);
}

.contribute {
    height: 789px;
    width: 100%;
    background: rgb(231,240,255);
background: linear-gradient(98deg, rgba(231,240,255,1) 0%, rgba(232,241,255,0.47102591036414565) 100%);
}


.accordion-item {
    border: none !important;
}

.accordion {
    --bs-accordion-active-bg: none !important;
    --bs-accordion-btn-icon: url(https://static.vecteezy.com/system/resources/previews/010/150/250/original/button-plus-icon-sign-symbol-design-free-png.png) !important;

    --bs-accordion-btn-active-icon:  url(https://static.vecteezy.com/system/resources/previews/010/150/250/original/button-plus-icon-sign-symbol-design-free-png.png) !important;
}

.appDownload {
    height: 607px;
    width: 100%;
    background: rgb(231,240,255);
background: linear-gradient(98deg, rgba(231,240,255,1) 0%, rgba(232,241,255,0.47102591036414565) 100%);
}

.foot {
    height: 424px;
    width: 100%;
    background: #1B3C74;
}

.container-fluid {
    --bs-gutter-x: 0 !important;
}

.bluebar {
    height: 124px;
    width: 100%;
    background-color: #2AA7FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.healthCenters{
    height: auto;
    width: 100%;
    background: rgb(231,240,255);
background: linear-gradient(98deg, rgba(231,240,255,1) 0%, rgba(232,241,255,0.47102591036414565) 100%);
}

.bookContainer {
    background-color: #ffffff;
    height: 269px;
    border-radius: 1rem;
}

.bookAppointment {
    background-color: white;
    height: 268px;
    border-radius: 1rem;
}

.bookingLists {
    height: 314px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 1rem;
}

.swiper-scrollbar-drag {
    position: relative;
    background: var(--swiper-scrollbar-drag-bg-color, #2AA7FF) !important;
    border-radius: var(--swiper-scrollbar-border-radius, 10px);
}


.swiper-button-prev{
    padding-bottom: 3rem !important;
    padding-left: 0.2rem !important;
}

.swiper-button-next{
    padding-bottom: 3rem !important;
    padding-right: 0.2rem !important;
}

.sliderContainer {
    margin-bottom: 1rem;
}

.sliderContainer:hover {
    background-color: #2AA7FF;
    cursor: pointer;
}

.sliderContainerActive {
    background-color: #2AA7FF;
}

.swiper-slide:first-child {
    margin-left: 70px !important;
}

.offercarouselLand {
    margin-top: 200px;
}

.timeBtn {
    background-color: #ffffff;
}

.timeBtn:hover{
    cursor: pointer;
    background-color: #2AA7FF !important;
}

.timeBtnActive{
    background-color: #2AA7FF !important;
}



.appInput {
    width: 316px;
}


.heroImage {
    display: flex;
}

.specializedContainer {
    width: 270px;
}

.patientCaring2 {
    width: 100%;
}

.contribute2 {
    height: 789px;
    width: 100%;
}

.contributeTrends {
    width: 50%;
}

.faqContainer {
    display: flex;
}
.appDownload2 {
    display: flex;
}

.sendSmsBtn {
    height: 47px;
}

.footApp {
    width: 50%;
}

.playBtn {
    width: 224px;
}

.heroDiv {
    display: flex;
}

.medCenterDiv {
    width: 50%;
}
.searchSpan {
    font-size: small;
}

.searchDiv {
    top: 550px;
}

.landImage {
    width: 401px;
}

.careImg2 {
    top: -50px;
     left: 50px;
}

.contImg {
    width: 242px;
}
.faqImg {
    height: 100%;
}

 .mainBook {
    display: flex;
} 

.hospitalNameText {
    font-size: 20px;
}



@media (max-width: 992px) {
    .navigationLink:hover {
        color: blue;
    }
}

@media (max-width: 1440px) {
    .mainBook {
        display: flex;
        flex-direction: column;
    }
    .mainBook2 {
        width: 100%;
        
    }
}

@media (min-width: 1440px) and (max-width: 2560px){
    .mainBook {
        display: flex;
        flex-direction: column;
    }
    .mainBook2 {
        width: 100%;
        
    }
}

@media (max-width: 1024px) {
    .appInput {
        width: 206px;
    }
    .patientCaring2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .patientCaring {
        height: 100%;
    }
    .mainBook {
        display: flex;
        flex-direction: column;
    }
    .mainBook2 {
        width: 100%;
        
    }
    .hospitalNameText {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .heroImage {
        height: 100%;
        width: 100%;
        position: relative;
        top: 100px;
    }
    .specializedContainer {
        width: 200px;
    }
    .patientCaring {
        height: 100%;
    }
    .contribute {
        height: 100%;
        
    }
    
    .contribute2 {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .contributeTrends {
        padding-top: 20px;
        width: 100%;
    }
    .faqContainer {
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
    }

    .appDownload{
        height: 100%;
    }
    .appDownload2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 20px;
    }
    .footApp {
        width: 100%;
        padding-right: 100px;
    }
    .appInput {
        width: 286px;
    }

    .playBtn {
        width: 274px;
    }
    
    

}


@media (min-width: 375px) and (max-width: 425px) {
    .heroDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .heroContainer {
        height: 100%;
        
    }
    .medCenterDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .medCenterDiv, h1, p {
        text-align: center;
    }
    .searchSpan {
       display: none;
    }
    .searchDiv {
        top: 900px;
    }
    .offercarouselLand {
        margin-top: 400px;
    }
    .landImage {
        width: 250px;
    }
    .specializedContainer {
        width: 170px;
    }
    .specialization {
        height: 100%;
        
    }
    .specialization2 {
        justify-content: center;
        gap: 5px;
    }
    .findText {
        margin-top: 10px;
    }
    .heroImage {
        height: 100%;
        width: 100%;
        position: relative;
        top: 70px;
    }
    .docd1 {
        width: 100%;
    }
    .doctoreBg {
    height: 340px;
    width: 270px;

    }
    .textAl {
        margin-right: 150px;
    }
    .careImg {
        display: none;
    }
    .careImg2 {
         left: 0px;
    }
    .contImg {
        width: 140px;
    }
    .faqImg {
        width: 100%;
    }
    .appInput {
        width: 106px;
    }
    .playText {
        display: none;
    }

    .smsText {
        display: none;
    }
    .appImg {
        width: 150px;
        padding-right: 20px;
    }
    .foot {
        height: 100%;
    }
    .mainFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subFooter1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 30px;
    }
    .bookContainer1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subBookContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }
    
}